<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    {% endblock %}
</head>
<body>
    <style>
        @font-face {
            font-family: "Hubballi";
            src: url({{ url_for('static', filename='fonts/Hubballi-Regular.ttf') }});
        }
    </style>

    <div class="header">
        <div class="title"><a href="{{ url_for('.index_page') }}">OnlyFilms</a></div>
        <div class="controls">
            {% if authorized %}
            <div><a href="{{ url_for('.logout_handler') }}">Log out</a></div>
            <div class="black-text">[{{ user.login }}]</div>
            {% else %}
            <div><a href="{{ url_for('.login_handler') }}" onclick="log_in_handler()">Log in</a></div>
            <div><a href="{{ url_for('.register_handler') }}" onclick="register_handler()">Register</a></div>
            {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/film_info.js')}}"></script>
</body>
</html>