{% extends 'base.html' %}

{% block head %}
<title>OnlyFilms</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock %}

{% block content %}
<div class="search-block">
    <span>
        <input type="text" name="searcher" id="searcher" placeholder="Search">
        <button type="submit" class="search-button"><i>&nbsp;</i></button>
    </span>
</div>

<div class="content">
    {% for film in films %}
    <a href="film/{{ film.id }}" title="{{ film.title }}">
        <div>
            <div class="score">{{ film.score }}</div>
            <img class="film" src="{{ film.cover }}" alt="{{ film.title }} Poster">
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}