.search-block {
    display: flex;
    /* justify-content: center; */
    margin-top: 10px;
}

.title {
    position: absolute;
    width: 98%;
    font-family: "Hubballi";
    text-align: center;
    font-size: 36px;
}

.title a {
    text-decoration: None;
    color: black;
}

.search-block > span{
    display: block;
    font-size: 0;
    margin-left: auto;
    margin-right: auto;
}

#searcher {
    border: 1px solid black;
    border-right: none;
    background: none;
    height: 20px;
    width: 400px;
    font-size: 14px;
}

.search-button {
    border: 1px solid black;
    border-left: none;
    height: 100%;
    width: 20px;
    background: url(https://img.icons8.com/ios-glyphs/60/000000/search--v1.png) no-repeat;
    background-size: 100%;
    background-position: 50%;
    font-size: 14px;
    cursor: pointer;
}

.search-button:hover{
    border: 1px solid black;
}

.content {
    width: 75%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.film {
    height: 320px;
    width: 224px;
    margin: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.film:hover {
    border-bottom: 2px solid black;
}

.score {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 187, 0);
    margin-left: 190px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(0, 0, 0, 0.45);
}

.title_holder{
    text-align: center;
    font-size: 24px;
}

.info_content {
    width: 75%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.info_block{
    display: flex;
}

.left_block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
}

.score_block{
    text-align: center;
}

.cover {
    height: 340px;
    width: 244px;
    margin: 10px;
}

.right_block {
    margin: 0px 0px 20px 20px;
    width: 80%;
}

.right_block > p {
    text-indent: 20px;
    margin: 20px;
}

.review {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

.new_review textarea{
    width: 99%;
    height: 50px;
    resize: none;
}

.new_review textarea:focus{
    height: 160px;
}

.author {
    margin-bottom: 10px;
    background: black;
    color: white;
    padding-left: 10px;
}

.review_date {
    text-align: right;
    font-size: 12px;
}

.score-reviews-count {
    font-size: 12px;
}

.send-review-button {
    background: black;
    border: none;
    color: white;
    cursor: pointer;
}

.header {
    height: 36px;
}

.controls {
    position: absolute;
    display: flex;
    right: 2%;
    width: 20%;
    justify-content: flex-end;
    text-align: center;
}

.controls div {
    margin: 10px;
    padding: 2px;
}

.controls a {
    text-decoration: none;
    color: black;
}

.black-text {
    background: black;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}

.error-content {
    margin-top: 100px;
}

.error-content div{
    text-align: center;
}

.not-found-code {
    font-size: 32px;
    font-weight: bold;
}